<html>
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Page Preloading Effect: Re-creating the effect seen on fontface.ninja" />
		<meta name="keywords" content="page loading, effect, initial, logo, sliding, web design, css animation, transform" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/style/css/progress/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/style/css/progress/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/style/css/progress/effect1.css" />
		<script src="/static/src/progress/modernizr.custom.js"></script>
</head>
<body>
	<div id="ip-container" class="ip-container">
		<header class="ip-header">
			<div align="center" class="ip-loader">
				<img class="logoimg" src="/static/style/imgs/logo.png" />
				<svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
					<path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
					<path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
				</svg>
			</div>
		</header>
	</div>
	 <script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="//cdn.bootcss.com/sprintf/1.0.3/sprintf.min.js"></script>
	<script src="/static/public/js/hammer.min.js"></script>
	<script src="/static/src/progress/classie.js"></script>
	<script src="/static/src/progress/pathLoader.js"></script>
	<script src="/static/src/progress/main.js"></script>
	<div id="app-container"></div>
  	<script src="/static/public/js/jquery.min.js"></script>
	<script src="/static/build/ishu_bundle.js"></script>

    <!-- <script src="bower_components/sprintf/dist/sprintf.min.js"></script> -->

</body>
</html>
