.a{
  style="width:100%; 
  overflow-x:hidden;
}
.container-question{
  z-index: 111;
}
.container-answer-table {
  z-index: 0;
}
.container-answer-card {
  margin-bottom: 10px;
  border-bottom: 1px solid #EEE;
}
.question-author,
.question-time {
  margin:0 10px 0 0;
  display: inline-block;
}
.question-card-bottom {
  margin: 0 -15px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  overflow: auto;
  background: #BBDEFB;
  border-bottom: 1 solid #1565C0;
  box-shadow: 0px 1px 0px 0px 5px #888888;
}
.answer-number,
.question-price {
  color: #888888;
  padding: 5 0px;
}
.i-want-to-answer {
  float: right;
  height: 100%;
  padding: 0 10px;
  color: #006064;
}
a:hover .i-want-to-answer {
  color: #FFF;
  background: #42A5F5;
}
.bestAnswers,
.allAnswers {
}
.bestAnswerTitle,
.allAnswerTitle {
  margin: 0 -15px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  background: #EEE;
  font-weight: bold;
}
.answer-author,
.answer-time {
  margin:10 10 10 0px;
  display: inline-block;
}
.answer-agree,
.answer-against {
  color: #888888;
}
.page-header-question {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.page-header-answer {
  padding-bottom: 10px;
  margin: 0px;
  border-bottom: none;
}
.btn-set-best,
.btn-cancel-best {
  float: right;
}
