@import url('Home.css');
@import url('Query.css');
@import url('Service.css');
@import url('Info.css');
@import url('Activity.css');

body {
  margin: 0px;
}
a {
  text-decoration: none;
}
.app-bar {
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
}
.container {
  padding-top: 64px;
}
.center {
  text-align: center;
}
.logo-text {
  height: 30px;
  padding-top: 13px;
}
.menu-icon {
  width: 24px;
  padding: 0px;
}