.lg-container {
    margin-top: 100px;
}
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 10px;
}
.form-login .checkbox {
  font-weight: normal;
}
.label-input-id {
    font-size: 20px;
}
.label-input-pw {
    margin-top: 20px;
    font-size: 20px;
}
.btn-login-confirm {
    margin: 10px;
}

.form-login input {
  border-radius: 2px;
}
.btn {
    color: #00838F;
    background-color: transparent;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #9E9E9E;
    text-decoration: none;
}
.bbtn-default {
    color: #666;
}
.btn-primary {
    color: #fff;
    background-color: #0097A7;
    border-color: #0097A7;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #006064;
    border-color: #006064;
}
.btn-primary:hover {
    color: #fff;
    background-color: #00838F;
    border-color: #00838F;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #006064;
    border-color: #006064;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #006064;
    border-color: #006064;
}
.btn-lg,
.btn-group-lg > .btn {
    float: right;
    height: 36px;
    width: 64px;
    margin: 5px;
    padding: 6px 8px;
    border-radius: 2px;
}
